<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html ng-app="myApp" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta charset="utf-8">
		<base href="/">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Summoner Lookup</title>
		<meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/layout.css">
	<link rel="stylesheet" href="/css/skeleton.css">
        <script type="text/javascript" src="js/lib/angular/angular.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/services.js"></script>
        <script type="text/javascript" src="js/controllers.js"></script>
        <script type="text/javascript" src="js/filters.js"></script>
        <script type="text/javascript" src="js/directives.js"></script>
	</head>
	<body>
		<div class="container" ng-controller="AppCtrl">
		  <div class="sixteen columns">
		    <h1 class="remove-bottom">Summoner Lookup</h1>
		    <h5>Created by iColor</h5>
			<div ng-show="summonerDataAcctId">
			  <h4>{{ summonerDataName }}</h4>
			  <p>Summoner Level: {{ summonerDataLevel }}</p>
			  <p>Summoner Account Id: {{ summonerDataAcctId }}</p>
			  <p>Summoner Id: {{ summonerDataSummonerId }}</p>
			</div>
			<div>
			  <form novalidate name ="summonerForm">
			    <label for="summonerName">
			    <input type="text" id="summonerName" ng-model="summonerName" placeholder="Enter summoner name here!" required/>
			    <button ng-click="submit()" ng-disabled="summonerForm.$invalid">Search!</button></label>
			  </form>
			</div>
		  </div>
		</div>
	</body>
</html>
